# Основные настройки
NODE_ENV=production
PORT=3000

# База данных
DATABASE_URL=${{PostgreSQL.DATABASE_URL}}
USE_MEMORY_DB=false

# JWT
JWT_SECRET=ikeb2w9a8OYYBSUk1hHOlBGdjCmidTBz

# Telegram
TELEGRAM_BOT_TOKEN=8463432041:AAEjPn2472cqetZQbLwKlKP_BsBf9mVdfNI
TELEGRAM_APP_URL=https://dinorunner-production.up.railway.app

# Безопасность
RATE_LIMIT_MAX=100
DAILY_COIN_LIMIT=100
MAX_POINTS_PER_RUN=30000

# Frontend URL
FRONTEND_URL=https://dinorunner-production.up.railway.app

# TON (опционально)
TON_SPACE_API_KEY=your_ton_key

